@model ResetPasswordViewModel

<h2>إعادة تعيين كلمة المرور</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label>كلمة المرور الجديدة</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>تأكيد كلمة المرور</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">تأكيد</button>
</form>
